[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-makegreen"]
	path = vim/bundle/vim-makegreen
	url = https://github.com/reinh/vim-makegreen.git
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "vim/bundle/closetag.vim"]
	path = vim/bundle/closetag.vim
	url = https://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/delimilMate"]
	path = vim/bundle/delimilMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/mustang"]
	path = vim/bundle/mustang
	url = https://github.com/croaker/mustang-vim.git
[submodule "vim/bundle/mustang2"]
	path = vim/bundle/mustang2
	url = https://github.com/vim-scripts/Mustang2.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/pydoc"]
	path = vim/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "vim/bundle/py.test"]
	path = vim/bundle/py.test
	url = https://github.com/vim-scripts/pytest.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-rooter"]
	path = vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "vim/bundle/rainbow_parantheses"]
	path = vim/bundle/rainbow_parantheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-obsession"]
	path = vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/zenburn"]
	path = vim/bundle/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/bundle/monokai"]
	path = vim/bundle/monokai
	url = https://github.com/lsdr/monokai.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/mango.vim"]
	path = vim/bundle/mango.vim
	url = https://github.com/goatslacker/mango.vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/neocomplete.vim"]
	path = vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/bundle/neosnippet.vim"]
	path = vim/bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/vim/bundle/vim-irblack"]
	path = vim/vim/bundle/vim-irblack
	url = https://github.com/wesgibbs/vim-irblack.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/vim-irblack"]
	path = vim/bundle/vim-irblack
	url = https://github.com/wesgibbs/vim-irblack.git
[submodule "vim/bundle/vim-distinguished"]
	path = vim/bundle/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "vim/bundle/gruvbox"]
	path = vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "vim/bundle/vim-ruby-doc"]
	path = vim/bundle/vim-ruby-doc
	url = git@github.com:lucapette/vim-ruby-doc.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-sparkup"]
	path = vim/bundle/vim-sparkup
	url = https://github.com/bingaman/vim-sparkup
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "vim/bundle/vim-auto-save"]
	path = vim/bundle/vim-auto-save
	url = https://github.com/vim-scripts/vim-auto-save.git
[submodule "vim/bundle/vim-autocorrect"]
	path = vim/bundle/vim-autocorrect
	url = https://github.com/vim-scripts/autocorrect.vim.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vim/bundle/minibufexpl.vim"]
	path = vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/bundle/vim-tmux"]
	path = vim/bundle/vim-tmux
	url = git://github.com/tmux-plugins/vim-tmux.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/tmuxline"]
	path = vim/bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim
